
:root{
	--color-general:#888585;
	--fondo-header:#4e4e4e;
	--fondo-footer:#383737;

}
body{
	font-family: 'Segoe UI';
	font-size: 14px;
	color: var(--color-general);
}




header{
	background-color: var(--fondo-header);

}

#hero-title{
    background-image: url("../img/header_bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 15% 0;
}

#hero-title h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

footer{
	background-color: var(--fondo-footer);
	padding: 30px 0;
}

.text-small{
    font-family: 'Oswald', sans-serif;
    color: var(--titulos);
    font-size: 16px;
    text-transform: uppercase;
}

.text-tall{
    font-family: 'Oswald', sans-serif;
    color: var(--titulos);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.numeros{
    font-family: 'Oswald', sans-serif;
    color: #CCCBCB;
    font-size: 55px;
    font-weight: 800;
}

.col-izq{
    text-align: left;
}

.col-der{
    text-align: right;
}

#welcome{
    text-align: center;
}

.title-small{
    font-family: 'Oswald', sans-serif;
    color: var(--titulos);
    font-size: 20px;
    font-weight: 800;
}

.boton-cta{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    background-color: var(--azul);
    padding: 4% 10%;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
#welcome h2 {
    padding-top: 70px;
}

.row {
	padding: 0px;
}

.container-gallery{
	padding: 100px;
}
























